body{
    /* background: #b161d0; */
    background: linear-gradient(50deg, rgb(40, 60, 114)0%, rgb(176, 60, 168)86%);
    background-attachment: fixed;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

table, th, td{
    /* border-bottom: 1px solid #333; */
    border-collapse: collapse;
}
table{
    border-radius: 10px;
    transform: translateY(20%);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 .4rem .8rem #000500;
    border-radius: .8rem;

    overflow: hidden;
    
}
th, td{
    
    /* text-align: left; */
    padding: 6px 10px;
}

table thead th{
    /* text-align: center; */
    background-color: rgb(57, 15, 46);
    color: #fff
}
/* table thead th{
    text-align: center;
    background-color: #60087d5a;
    color: #db2828;
} */
.table.table-dark{
    background: #edeaea;
    color: #000;
}
/* .table.table-hover tbody tr:hover{
    background: #333;
} */
.table.table-hover tbody tr:nth-child(odd){
    background: #fff;
}
