body {
    background-color: #1a73e8;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 19px;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;

}

form {
    border: 1px solid #dadce0;
    border-radius: 5px;
    padding: 30px;
    background-color: #fff;
}

h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

a {
    color: #1a73e8;
    text-decoration: none;
}

p {
    text-align: center;
    font-size: 15px;
}

.form-group {
    margin-bottom: 15px;
    position: relative;

}

.form-group i {
    color: #fff;
    font-size: 14px;
}
#eye i{
    padding: 0;
    cursor: pointer;
    /* top: 50%;
    transform: translate(-50%); */
    height: 8px;
    width: 10px;
    margin-bottom:  40% ;
}

input {
    height: 50px;
    width: 300px;
    outline: none;
    border: 1px solid #dadce0;
    padding: 10px;
    border-radius: 5px;
    font-size: inherit;
    color: #202124;
    transition: all 0.3s ease-in-out;
}

label {
    position: absolute;
    padding: 0px 5px;
    left: 10px;
    top: 50%;
    /*note qtrong*/
    pointer-events: none;
    transform: translateY(-50%);
    background: #fff;
    transition: all 0.3s ease-in-out;
    opacity: 0.6;
}

.login-or {
    text-align: center;
    font-size: 25px;
    color: #999;
    margin: 5px auto;
    position: relative;
}

.login-or span {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.login-or:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #999;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.form-group i {
    color: rgb(189, 189, 189);
    position: absolute;
    right: 2rem;
    top: 1rem;

}

.form-group input:focus {
    border: 2px solid #1a73e8;
}

.form-group input:focus+label,
.form-group input:valid+label {
    top: 0px;
    font-size: 13px;
    font-weight: 500;
    color: #1a73e8;
    opacity: 1;
}


input#btn-login {
    background: #1a73e8;
    color: #fff;
    cursor: pointer;
}

input#btn-login:hover {
    opacity: 0.85;

}

a.button {
    display: inline-block;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    transform: translateY(-10%);
}

a.button.facebook {
    background: #1255ac;
    color: #fff;
    border: 1px solid #dadce0;
}

.flex {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: row;
    padding-bottom: 10px;
}

/* a.button.facebook{
background: #1877f2;
color: #fff;

} */
.fa-facebook {
    font-size: 25px;
    color: #fff;
    Padding: 6px 10px;
    text-align: center;
}

.fa-google {
    font-size: 25px;
    color: #000000;
    Padding: 6px 10px;
    text-align: center;
}

a.button.google {
    background: #fff;
    color: #000000;
    border: 1px solid #dadce0;
}


.list-button {
    margin-bottom: 10px;
}

.button-text {
    opacity: 0.5;
}

div.fa-facebook {
    text-align: center;
}
